<div class="section info" data-anchor="page4">
  <div class="info-container container" id="info">
    <div class="row">
      <div class="col-md-6">
        <p class="h2">I’m available for both contract or freelance work.</p>
        <div class="contact-link"><a class="h4" href="tel:+447493849428">+44 7493 849428</a></div>
        <div class="contact-link"><a class="h4" href="mailto:silviuglv@gmail.com">silviuglv@gmail.com</a></div>
      </div>
      <div class="col-md-6">
        <form class="col-md-10 offset-md-1" action="thank-you" method="post" netlify>
          <div>
            <input type="text" name="name" placeholder="Your Name" required>
          </div>
          <div>
            <input type="email" name="email" placeholder="Your Email" required>
          </div>
          <div>
            <textarea name="messeage"  placeholder="Message" rows="4" required></textarea>
          </div>
          <input type="submit">
        </form>
      </div>

    </div>
    <div class="row justify-content-center text-center">
      <span class="social-links col-3"><a class="h4" href="https://www.facebook.com/silviuandreiglavan">facebook</a></span>
      <span class="social-links col-3"><a class="h4" href="https://www.instagram.com/silviuglv/">instagram</a></span>
      <span class="social-links col-3"><a class="h4" href="https://www.linkedin.com/in/silviuglv/">linkedin</a></span>
      <span class="social-links col-3"><a class="h4" href="https://github.com/silviuglv">github</a></span>
    </div>

    <div class="home-nav row justify-content-center">
      <span class="scroll-pointer h5"><a class="h5" href="/">GO HOME</a> | VIEW CV</span>
    </div>
  </div>
</div>
