<div class="section lead" data-anchor="page1">
  <div class="section-wrapper container">
    <div class="row">
      <div class="offset-md-1 col-md-10">
        <h1>Hi, I&rsquo;m&nbsp;SILVIU</h1>
        <h2 class="kicker">
          Front-End Developer based in Liverpool, UK
        </h2>
      </div>
    </div>
    <div class="scroll-nav row justify-content-center">
      <span class="scroll-pointer" data-menuanchor="page2"><a class="h5" href="#page2">CHECK MY WORK</a> <i class="arrow-down scroll-animate"></i></span>
    </div>
  </div>
</div>
