<div class="section project" id="wwawesome" data-anchor="page3">

  <div class="section-wrapper container">
    <div class="project-wrapper">
      <div class="row align-items-center justify-content-center">
        <div class="project-holder col-12 col-md-7 offset-md-2">
          <div class="project-container text-center">
            <img src="/assets/img/wwawesome.png" alt="">
          </div>

        </div>
        <div class="project-info col-md-3 offset-1 offset-md-0 align-self-end justify-content-center">
          <p class="h3">wwawesome.com</p>
          <p class="h6">web design &amp; development</p>
        </div>
      </div>
      <div class="row project-link justify-content-center">
        <a href="https://wwawesome.com" class="h4">
          see live
        </a>
        <hr style="width:70%"/>
      </div>
      </div>

      <div class="page-nav container">
        <div>
          <span class="scroll-pointer h5"><i class="arrow-up"></i><a class="h5" href="#page2">mybarber</a></span>
        </div>
        <div>
          <span class="scroll-pointer h5"><a class="h5" href="#page4">contact</a><i class="arrow-down"></i></span>
        </div>
      </div>
    </div>
</div>
