<div class="section project" id="mybarber" data-anchor="page2">

  <div class="section-wrapper container">
    <div class="project-wrapper">
      <div class="row align-items-center justify-content-center">
        <div class="project-holder col-6 col-md-4 col-lg-3 offset-md-4">
          <div class="prev-container"></div>
          <div class="project-container text-center">
            <img src="/assets/img/mybarber1.png" alt="">
          </div>

        </div>
        <div class="project-info col-md-3 offset-1 align-self-end justify-content-center">
          <p class="h3">mybarber.co.uk</p>
          <p class="h6">web design &amp; development</p>
        </div>
      </div>
      <div class="row project-link justify-content-center">
        <a href="https://mybarber.co.uk" class="h4">
          see live
        </a>
        <hr style="width:70%"/>
      </div>
      </div>

      <div class="page-nav container">
        <div>
          <span class="scroll-pointer"><i class="arrow-up"></i><a class="h5" href="#page1">home</a></span>
        </div>
        <div>
          <span class="scroll-pointer"><a class="h5" href="#page3">ww awesome</a><i class="arrow-down"></i></span>
        </div>
      </div>
    </div>
</div>
